@use "./variables" as *;

// nav only in desktop view

.nav {
  font-weight: bold;
  width: 90vw;
  height: 50px;
  background-color: $color-white;
  margin-top: 10px;
  padding-left: 20px;

  &__logo {
    color: $color-gray;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;

    &--star {
      color: salmon;
      font-weight: bold;
    }
  }

  &__button {
    background-color: $color-white;
    color: $color-gray;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 15%;
    font-size: 1em;

    &--touch {
      background-color: $color-salmon;
      color: $color-white;
    }
  }
}


.skills__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 30px;
}

//project section cards
.card {
  width: 70vw;
  height: 650px;
  margin: 30px;


  &__image {
    width: 220px;
    border: 3px solid $color-linen;
    border-radius: 5%;
    padding: 10px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 15px;
  }

  &__title {
    font-size: 30px;
    margin: 0;
    color: cadetblue;
  }

  &__description {
    width: 250px;
    background-color: pink;
    opacity: 0.7;
    padding: 10px 25px;
    border-radius: 5%;
    border: 2px solid pink;
    justify-self: center;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }

  &__button {
    background-color: $color-white;
    color: $color-black;
    text-decoration: none;
    border: 2px solid $color-yellow;
    border-radius: 55%;
    padding: 10px 25px;
  }
}
