@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-black : black;
    $color-white: white;
    $color-linen: linen;
    $color-salmon: salmon;
    $color-gray: rgb(46, 46, 46);