@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-black : black;
    $color-white: white;
    $color-linen: linen;
    $color-salmon: rgb(241, 143, 132);
    $color-gray: rgb(91, 91, 91);
    $color-yellow: rgb(218, 178, 93);