@use "./variables" as *;
@use "./layouts";
@use "./components";

* {
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}

a:hover {
  background-color: $color-yellow;
}

.nav {
  display: none;
}

.header__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: unset;
    display: flex;
    justify-content: space-between;
  }

  .header {
    padding-left: 80px;
  }

  .header__image {
    display: unset;
    position: absolute;
    top: 420px;
    right: 95px;
  }

  .header__h1 {
    display: none;
  }

  .header__h2 {
    padding-left: 10px;
  }

  .about__container {
    display: flex;
    grid-gap: 10px;
    width: 90vw;
    flex-direction: row-reverse;
    align-items: center;
  }

  .about__image {
    width: 270px;
    float: right;
  }
  .about__text {
    font-size: 17px;
    background-color: pink;
    opacity: 0.7;
    padding: 10px 25px;
    border-radius: 5%;
    border: 2px solid pink;
  }

  .about__text:after {
    clear: both;
  }

  .skills {
    width: 92vw;
    border-radius: 5%;
    height: 90vh;
  }

  .cyber {
    
    padding-top: 30px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

  &__pic {
    width: 10vw;
    background-color: $color-linen;
    border-radius: 95%;

  }  
}

  .cyber__pic--desc {
    width:20vw;
    text-align: center;

  }
  
  .cyber__pic--label{
    background-color: $color-gray;
    color: $color-white;
    
  }
  
  .project {
    width: 90vw;

    &__grid {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: auto auto auto;
      padding-top: 50px;
      padding-left: 35px;
      padding-bottom: 50px;
      
    }

    &__cards2 {
      display: unset;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: auto auto auto;
      padding-top: 70px;
      width: 90vw;
      padding-bottom: 520px;
      height: 50vh;
      padding-left: 35px;
      box-shadow: 5px 5px 10px 10px #888888;
      margin-left: 10px;
      border-radius: 2%;
    }
  }

  .card {
    display: unset;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "header header header header"
      "main main main main"
      "aside aside aside aside "
      "footer footer footer footer";
    grid-gap: 10px;
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  aside {
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}
