@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.header {
  width: 100vw;
  height: 650px;
  display: block;
}
.header__h1 {
  padding-top: 30px;
  font-size: 20px;
  background-color: linen;
}
.header__h2 {
  font-size: 55px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 90vw;
}
.header__h2--highlight {
  -webkit-text-decoration: rgba(95, 158, 160, 0.576) double underline 8px;
          text-decoration: rgba(95, 158, 160, 0.576) double underline 8px;
}
.header__button {
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid rgb(218, 178, 93);
  padding: 10px 25px;
  border-radius: 8%;
}

.about {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.about__h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-decoration: underline 8px solid salmon;
          text-decoration: underline 8px solid salmon;
  width: 100vw;
}
.about__image {
  width: 80vw;
  border-radius: 2%;
  opacity: 90%;
}
.about__text {
  margin: 10px;
  padding-top: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  padding-bottom: 20px;
  background-color: linen;
  padding-top: 20px;
}
.skills__title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  -webkit-text-decoration: underline 8px solid salmon;
          text-decoration: underline 8px solid salmon;
}
.skills__description {
  padding-bottom: 30px;
}

.project {
  width: 70vw;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.project__title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
  -webkit-text-decoration: underline 8px solid salmon;
          text-decoration: underline 8px solid salmon;
}
.project__cards2 {
  display: none;
}

.footer {
  background-color: rgb(46, 46, 46);
  height: 216px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-style: double;
  border-top-color: salmon;
  border-top-width: 7px;
}
.footer__email {
  padding-top: 20px;
  color: white;
}

.nav {
  font-weight: bold;
  width: 90vw;
  height: 50px;
  background-color: white;
  margin-top: 10px;
}
.nav__logo {
  color: rgb(46, 46, 46);
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.nav__logo--star {
  color: salmon;
  font-weight: bold;
}
.nav__button {
  background-color: white;
  color: rgb(46, 46, 46);
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 15%;
  font-size: 1em;
}
.nav__button--touch {
  border: 2px solid rgb(218, 178, 93);
  color: black;
}

.skills__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 30px;
}

.card {
  width: 80vw;
  height: 550px;
  margin: 17px;
}
.card__image {
  width: 100%;
}
.card__subtitle {
  font-weight: bold;
  font-size: 15px;
}
.card__title {
  font-size: 30px;
  margin: 0;
}
.card__icons {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.card__button {
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid rgb(218, 178, 93);
  padding: 10px 25px;
  border-radius: 15%;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.nav {
  display: none;
}

.header__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: unset;
    display: flex;
    justify-content: space-between;
  }
  .header__image {
    display: unset;
    position: absolute;
    top: 370px;
    right: 95px;
  }
  .header__h1 {
    display: none;
  }
  .about {
    display: grid;
    grid-gap: 10px;
  }
  .about__image {
    width: 30%;
    float: right;
  }
  .about__text {
    font-size: 22px;
  }
  .about__text:after {
    clear: both;
  }
  .skills {
    width: 95vw;
    border-radius: 5%;
  }
  .project {
    width: 90vw;
  }
  .project__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding-top: 30px;
    width: 88vw;
  }
  .project__cards2 {
    display: unset;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
    width: 88vw;
    padding-bottom: 120px;
  }
  .card {
    display: unset;
  }
  .grid-container {
    display: grid;
    grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
    grid-gap: 10px;
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}/*# sourceMappingURL=main.css.map */